<?xml version="1.0" encoding="UTF-8"?>
<!--
  NOTICE:本文件由代码生成器naaf-generator生成，不要在本文件手工追加任何内容，因为随时可能重新生成替换
  github：https://github.com/feiniaojin/naaf-generator
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feiniaojin.ddd.cms.infrastructure.persitrence.mapper.CmsArticleMapper">
    <resultMap id="BaseResultMap" type="com.feiniaojin.ddd.cms.infrastructure.persitrence.data.CmsArticle">
        <result column="id" property="id"/>
        <result column="article_id" property="articleId"/>
        <result column="title" property="title"/>
        <result column="deleted" property="deleted"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_by" property="modifiedBy"/>
        <result column="modified_time" property="modifiedTime"/>
        <result column="version" property="version"/>
    </resultMap>
    <sql id="BaseColumn">
        id,
        article_id,
        title,
        deleted,
        created_by,
        created_time,
        modified_by,
        modified_time,
        version
    </sql>
    <insert id="insert" parameterType="com.feiniaojin.ddd.cms.infrastructure.persitrence.data.CmsArticle">
        insert into cms_article (
        id,
        article_id,
        title,
        deleted,
        created_by,
        created_time,
        modified_by,
        modified_time,
        version
        )
        <trim prefix="values (" suffix=")">
            #{id},
            #{articleId},
            #{title},
            #{deleted},
            #{createdBy},
            #{createdTime},
            #{modifiedBy},
            #{modifiedTime},
            #{version}
        </trim>
    </insert>
    <select id="findOneByBizId" resultMap="BaseResultMap">
        select
        <include refid="BaseColumn"/>
        from cms_article where articleId=#{bizId}
    </select>
</mapper>
